<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>xsltController</servlet-name>
		<servlet-class>com.epam.xslt.servlet.XsltController</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<servlet-mapping>
		<servlet-name>xsltController</servlet-name>
		<url-pattern>/controller</url-pattern>
	</servlet-mapping>
	
	<error-page>
        <error-code>500</error-code>
        <location>/jsp/error500.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/jsp/error404.jsp</location>
    </error-page>
    
    <error-page>
        <error-code>400</error-code>
        <location>/jsp/error400.jsp</location>
    </error-page>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>